#contact{
    padding-top: 40px;
    padding-bottom: 170px;
}
#footer {
    padding-top: 5px;
    padding-left: 15px;
    background: black;
    height: 35px;
    color: #dcd9d9;
    font-family: txt3;
    text-align: center;
}