.header .navbar {
//background: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: 60px;
}
.header .navbar, .header .navbar-toggle .toggle-icon, .service .service-element, .service .service-info, .service:hover .service-element, .service:hover .service-info, .social-icons, .social-icons:hover {
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.header .navbar-toggle {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    /*margin: 35px 0;*/
}
.header .logo {
    width: 70px;
    height: 60px;
    float: left;
    max-height: 95px;
    line-height: 50px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
    border:none!important;
}
.navbar-nav{
    margin-top: 0px!important;
}

@media (max-width: 768px) {
    .navbar-collapse{
        padding-left: 30px;
        margin-top: 60px;
        /*background-color: white;*/
        /*padding-bottom: 10px;*/
    }
}
@media (min-width: 992px){
    .header .navbar-nav-right {
        float: right;

    }



}

@media (min-width: 768px)and (max-width: 1000px){
    .nav-item-child-more{
        /*font-size: 9px!important;*/
    }
    .tel-email{display: none}
    .navbar-collapse{
        float:right;

    }
}

@media (max-width: 768px){
    .nav-item{
        padding-left: 10px;
    }
    .header {
        /*background: #fff;*/
        color:#515769;
    }
    .logo{
        /*float: none!important;*/
    }
    .header .nav-item-child .nav-item-child-more{
        color: #515769;
        line-height: 1.4;
        padding: 12px 12px 12px 15px;

    }
    .main:after {
        top: 15px!important;
    }
}

.header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.header .nav-item, .header .nav-item-child .nav-item-child-more {
    display: block;
    position: relative;
    cursor: pointer;
}
.header .nav-item-hover {
    position: relative;
}
.header .nav-item-child {
    font-size: 13px;
    font-family: txt3;
    font-weight: 600;
    color: white;
    line-height: 20px;
    padding: 20px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.header .nav-item.active .nav-item-hover:after, .header .nav-item:hover .nav-item-hover:after {
    opacity: 1;
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.header .nav-item-child:focus, .header .nav-item-child:hover {
    background: inherit;
}
.header .nav-item-hover:after {
    position: absolute;
    top: 29px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #17bed2;
    opacity: 0;
    content: " ";
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.header_link:hover, header_link:focus{
    text-decoration: none;
}
.more60{
    background-color: white;
    color: #515769;
}
.header .nav-item-child-more {
    color: #515769;
    font-size: 13px;
    font-family: txt3;
    font-weight: 600;
    line-height: 20px;
    padding: 20px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.header .nav-item-child-more:focus, .header .nav-item-child-more:hover {
    background: inherit;
}
.navbar-collapse.in1 {
    background-color: white;
}


.tel-email{
    float: left;
    margin-top: 9px;
    line-height: 0.4;
}
.tel-email i{
    font-size: 18px;


}
.tel-email span{
    font-size: 16px;
    font-family: txt2;
    padding-right: 10px;
}

.collapse.in {
    padding-bottom: 15px;
    /*margin-top: 60px;*/
    /*background-color: white;*/
    /*padding-bottom: 10px;*/
}